body {
  background: #000;
  display: flex;
  gap: 20px;
  padding: 50px;
  font-family: sans-serif;
}

.card {
  width: 140px;
  height: 140px;
  background: #111;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
}

.card .icon {
  width: 70px;
}

#clone {
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  opacity: 0;
  transition: 0.15s;
  filter: url(#blurFilter) brightness(2);
}
